<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Concesionario</title>
	<link href="view/css/css_general.css" rel="stylesheet" type="text/css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


	<script src="modules/car/model/valid_car.js"></script>
	<script src="view/js/translate.js"></script>
	<script src="modules/home/model/crtl_home.js"></script>
</head>

<body>
	<!-- Silder funcional -->
	<div class="wrap">
		<div class="slider">
			<div class="slider-wrapper theme-default">
				<div id="slider" class="nivoSlider">
				</div>
			</div>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.pack.min.js"></script>
		</div>
	</div>
	<!-- Categorias -->
	<div class="section group">
		<div class="grid_1_of_4 images_1_of_4">
			<h3>KM0</h3>
			<a class="estado" id="KM0" href="index.php?modules=home&op=list"><img src="view/images/pic1.jpg"
					alt="" /></a>
			<p>Aqui puede ver los coches que tenemos disponibles con KM0</p>
			<div class="btn"><a href="index.php?modules=home&op=list" class="estado link" id="KM0"><span><span>Read
							more</span></span></a></div>
		</div>
		<div class="grid_1_of_4 images_1_of_4">
			<h3>Pocos KM</h3>
			<a class="estado" id="PocosKM" href="index.php?modules=home&op=list"><img src="view/images/pic2.jpg"
					alt="" /></a>
			<p>Aqui puede ver los coches que tenemos disponibles con pocos KM</p>
			<div class="btn"><a href="index.php?modules=home&op=list" class="estado link" id="PocosKM"><span><span>Read
							more</span></span></a></div>
		</div>
		<div class="grid_1_of_4 images_1_of_4">
			<h3>Seminuevo</h3>
			<a class="estado" id="Seminuevo"><img src="view/images/pic3.jpg" alt="" /></a>
			<p>Aqui puede ver los coches que tenemos disponibles y estas un poco usados</p>
			<div class="btn"><a class="estado link" id="Seminuevo" class="link"><span><span>Read
							more</span></span></a></div>
		</div>
		<div class="grid_1_of_4 images_1_of_4">
			<h4><img src="view/images/call.png"> Call Us Now</h4>
			<h5>438 5049 432</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
		</div>
	</div>
	<!-- Tipos -->
	<div class="image group">
		<div class="grid images_3_of_1">
			<a class="type" id="Electrico" href="index.php?modules=home&op=list"><img src="view/images/ser-pic1.jpg"
					alt="" /></a>
		</div>
		<div class="grid span_2_of_3">
			<h3>Electrico</h3>
			<p>En este apartado puedes comprar coches electricos</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				ex ea commodo consequat. Duis aute irure dolor</p>
			<div class="btn"><a href="index.php?modules=home&op=list" class="type link" id="Electrico"><span><span>Read
							more</span></span></a></div>
		</div>
		<div class="image group">
			<div class="grid images_3_of_1">
				<a class="type" id="Hibrido" href="index.php?modules=home&op=list"> <img src="view/images/ser-pic2.jpg"
						alt="" /></a>
			</div>
			<div class="grid span_2_of_3">
				<h3>Hibrido</h3>
				<p>En este apartado puedes comprar coches hibridos</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor</p>
				<div class="btn"><a href="index.php?modules=home&op=list" class="type link"
						id="Hibrido"><span><span>Read
								more</span></span></a></div>
			</div>
		</div>
		<div class="image group">
			<div class="grid images_3_of_1">
				<a class="type" id="Adaptado" href="index.php?modules=home&op=list"> <img src="view/images/ser-pic3.jpg"
						alt="" /></a>
			</div>
			<div class="grid span_2_of_3">
				<h3>Adaptado</h3>
				<p>En este apartado puedes comprar coches adaptados</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor</p>
				<div class="btn"><a href="index.php?modules=home&op=list" class="type link"
						id="Adaptado"><span><span>Read
								more</span></span></a></div>
			</div>
		</div>
		<div class="image group">
			<div class="grid images_3_of_1">
				<a class="type" id="Gasolina" href="index.php?modules=home&op=list"> <img src="view/images/pic6.jpg"
						alt="" /></a>
			</div>
			<div class="grid span_2_of_3">
				<h3>Gasolinas</h3>
				<p>En este apartado puedes comprar coches de gasolina</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor</p>
				<div class="btn"><a href="index.php?modules=home&op=list" class="type link"
						id="Gasolina"><span><span>Read
								more</span></span></a></div>
			</div>
		</div>
	</div>
</body>