<head>
	<title>The Free Cars Website Template | Details :: w3layouts</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"></script>

	<link href="view/css/css_general.css" rel="stylesheet" type="text/css" />

	

	<script type="text/javascript">
		$(function () {
			$('#fecha').datepicker({
				dateFormat: 'dd/mm/yy',
				changeMonth: 'true',
				changeYear: 'true',
				yearRange: '2000:2022',
				onSelect: function (selectedDate) {
				}
			});
		});
	</script>

	<script src="modules/car/model/valid_car.js"></script>
	<script src="view/js/translate.js"></script>
	<script src="view/js/promise.js"></script>
	<script src="modules/search/model/crtl_search.js"></script>
</head>