<meta charset="utf-8">
<title>Concesionario</title>

<!-- <a href="index.php?modules=car&op=list"><img src="view/images/banner.jpg" alt="banner"></a> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link href="view/css/css_general.css" rel="stylesheet" type="text/css" />
<link href="/framework_php_GitHub/modules/home/view/css/css_home.css" rel="stylesheet" type="text/css" />
<link href="modules/shop/view/css/css_general.css" rel="stylesheet" type="text/css" />

<script src="view/js/translate.js"></script>
<script src="modules/home/model/crtl_home.js"></script>
<script src="modules/car/model/valid_car.js"></script>
<script src="view/js/promise.js"></script>


<body>

    <div class="container">
        <h1 style="padding-top: 2em; color: rgb(223, 179, 179);"></h1>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner"></div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="section group" id="containerCategories"></div>
    <div class="image group" id="containerType"></div>
    <div id="featured"></div>
    <div id="btnfeatured"></div>
    <div id="nomore"></div>

</body>